@charset "UTF-8";
main {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

#meilleurfilm {
  display: grid;
  grid-template-rows: 10em 13em 10em 10em;
  grid-template-columns: 1fr 2fr;
  background: rgb(255, 157, 0);
}
#meilleurfilm h2 {
  font-size: 4em;
  align-items: center;
  margin: 30px;
  grid-column: 1/3;
}
#meilleurfilm section[class=informationMeilleurFilm] {
  grid-column: 1;
  grid-row: 2/5;
  margin: auto;
}
#meilleurfilm section[class=informationMeilleurFilm] h3, #meilleurfilm section[class=informationMeilleurFilm] p {
  margin-bottom: 30px;
}
#meilleurfilm .div-film-meilleurfilm {
  grid-column: 2;
  grid-row: 2/5;
}
#meilleurfilm .choixFilm {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  /*met une forme de main sur le pointer*/
  cursor: pointer;
}
#meilleurfilm img {
  height: 35em;
}

#mieuxnote {
  display: grid;
  align-items: center;
  grid-template-rows: 8em auto;
  grid-template-columns: 10% 80% 10%;
}
#mieuxnote h4 {
  grid-row: 1;
  grid-column: 1/4;
}
#mieuxnote .fleche-gauche {
  grid-row: 2;
  grid-column: 1;
}
#mieuxnote div {
  grid-row: 2;
  grid-column: 2;
}
#mieuxnote .fleche-droite {
  grid-row: 2;
  grid-column: 3;
}
#mieuxnote img {
  height: 23em;
}

#ensemblefilm .listeFilm {
  display: grid;
  align-items: center;
  grid-template-rows: 8em auto;
  grid-template-columns: 10% 80% 10%;
}
#ensemblefilm .listeFilm h4 {
  grid-row: 1;
  grid-column: 1/4;
}
#ensemblefilm .listeFilm .fleche-gauche {
  grid-row: 2;
  grid-column: 1;
}
#ensemblefilm .listeFilm div {
  grid-row: 2;
  grid-column: 2;
}
#ensemblefilm .listeFilm .fleche-droite {
  grid-row: 2;
  grid-column: 3;
}
#ensemblefilm .listeFilm img {
  height: 23em;
}

.fleche {
  display: inline-block;
  background-color: rgb(6, 123, 152);
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  margin: 10px;
  /*met une forme de main sur le pointer*/
  cursor: pointer;
  height: 100px;
  font-size: 40px;
}

#logo-juststreamit {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 8em;
  z-index: 2;
}

nav {
  background: rgb(2, 135, 169);
  height: 8em;
  text-align: right;
  position: sticky;
  top: 0%;
  z-index: 1;
}
nav .bouton-navigation {
  display: inline-block;
  background-color: rgb(6, 123, 152);
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  margin: 10px;
  /*met une forme de main sur le pointer*/
  cursor: pointer;
}

.modal #liste-categorie {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
  row-gap: 1em;
}
.modal h1 {
  padding-bottom: 30px;
}
.modal .checkbox-categorie:checked + .checkbox-label {
  font-weight: bold;
}

.modal .contenu-film {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #fff;
  border: 1px solid #666;
}
.modal .contenu-film h4 {
  grid-column: 2;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  border: 1px solid #666;
}
.modal .contenu-film p {
  grid-column: 3;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  border: 1px solid #666;
}
.modal .contenu-film .image-pochette {
  grid-column: 1;
  background-color: #fff;
  border: 1px solid #666;
}
.modal .contenu-film h4[class=image-pochette] {
  grid-row: 1;
}
.modal .contenu-film img[class=image-pochette] {
  grid-row: 2/10;
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/*Pour la fenetre modal*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*mise en forme du container de modal*/
.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  /*caché de base*/
  display: none;
}

/* affiché à l'activation*/
.modal-container.active {
  display: block;
  z-index: 3;
}

/*fond grisé*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /*fond avec opacité*/
  background: rgba(51, 51, 51, 0.8274509804);
}

/*mise en forme du modal*/
.modal {
  width: 1000px;
  padding: 30px;
  background: rgb(2, 135, 169);
  border-radius: 5px;
  position: absolute;
  /*permet de définir où la fenetre va apparaitre*/
  top: 50%;
  left: 50%;
  /*permet de centrer en absolue*/
  transform: translate(-50%, -50%);
}
.modal h1 {
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 500;
}
.modal #contenumodal {
  color: black;
}
.modal #contenumodal p {
  /*permet d'avoir un paragraphe plus aéré*/
  line-height: 1.4;
  margin-bottom: 5px;
}

/*mise en forme du bouton de fermeture*/
.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  /*position absolute par rapport à son élement père*/
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}

#validationCategorie {
  display: inline-block;
  background-color: rgb(6, 123, 152);
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  margin: 10px;
  /*met une forme de main sur le pointer*/
  cursor: pointer;
}

body {
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

h2 {
  font-family: "Dancing Script", cursive;
}

h4 {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}/*# sourceMappingURL=main.css.map */