@charset "UTF-8";
main {
  text-align: center;
}

#meilleurfilm h2 {
  font-size: 4em;
}
#meilleurfilm .choixFilm {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  /*met une forme de main sur le pointer*/
  cursor: pointer;
}
#meilleurfilm img {
  height: 35em;
}

#mieuxnote {
  display: grid;
  grid-template-rows: 2em auto;
  grid-template-columns: 10% 80% 10%;
}
#mieuxnote h3 {
  grid-row: 1;
  grid-column: 1/4;
}
#mieuxnote .fleche-gauche {
  grid-row: 2;
  grid-column: 1;
}
#mieuxnote div {
  grid-row: 2;
  grid-column: 2;
}
#mieuxnote .fleche-droite {
  grid-row: 2;
  grid-column: 3;
}
#mieuxnote img {
  height: 23em;
}

#ensemblefilm .listeFilm {
  display: grid;
  grid-template-rows: 2em auto;
  grid-template-columns: 10% 80% 10%;
}
#ensemblefilm .listeFilm h3 {
  grid-row: 1;
  grid-column: 1/4;
}
#ensemblefilm .listeFilm .fleche-gauche {
  grid-row: 2;
  grid-column: 1;
}
#ensemblefilm .listeFilm div {
  grid-row: 2;
  grid-column: 2;
}
#ensemblefilm .listeFilm .fleche-droite {
  grid-row: 2;
  grid-column: 3;
}
#ensemblefilm .listeFilm img {
  height: 23em;
}

.fleche {
  height: 20em;
  width: 4em;
  font-size: 1em;
  font-weight: bold;
}

#logo-juststreamit {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 8em;
  z-index: 2;
}

nav {
  background: rgb(2, 135, 169);
  height: 8em;
  text-align: right;
  position: sticky;
  top: 0%;
  z-index: 1;
}
nav .bouton-navigation {
  padding: 10px;
  margin: 10px;
  width: 100px;
  /*met une forme de main sur le pointer*/
  cursor: pointer;
}

.modal #liste-categorie {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
  row-gap: 1em;
}
.modal .checkbox-categorie:checked + .checkbox-label {
  font-weight: bold;
}

.modal .contenu-film {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Pour la fenetre modal*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*mise en forme du container de modal*/
.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  /*caché de base*/
  display: none;
}

/* affiché à l'activation*/
.modal-container.active {
  display: block;
  z-index: 3;
}

/*fond grisé*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /*fond avec opacité*/
  background: rgba(51, 51, 51, 0.8274509804);
}

/*mise en forme du modal*/
.modal {
  width: 95%;
  max-width: 600px;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  /*permet de définir où la fenetre va apparaitre*/
  top: 40%;
  left: 50%;
  /*permet de centrer en absolue*/
  transform: translate(-50%, -50%);
}

/*mise en forme du bouton de fermeture*/
.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  /*position absolute par rapport à son élement père*/
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}

h1 {
  color: gray;
}

body {
  font-family: sans-serif;
  background: white;
}

/*Mise en forme du titre*/
.modal h1 {
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 500;
}

/*mise en forme du paragraphe*/
.modal p {
  /*permet d'avoir un paragraphe plus aéré*/
  line-height: 1.4;
  margin-bottom: 5px;
}/*# sourceMappingURL=main.css.map */