main{
    text-align: center;
    background:$couleurfond ;
}


#meilleurfilm{
    display : grid;
    grid-template-rows : 10em 13em 10em 10em;
    grid-template-columns : 1fr 2fr;
    background:$couleurfilmmoment;
    h2{
        font-size: $taillemeilleurfilm;
        align-items: center;
        margin : 30px;
        grid-column: 1/3;
    }
    section[class="informationMeilleurFilm"]{
        grid-column : 1;
        grid-row : 2/5;
        margin: auto;
        h3, p{
            margin-bottom : 30px;
        }
    }

    .div-film-meilleurfilm{
        grid-column : 2;
        grid-row : 2/5;
    }
    .choixFilm{
        margin-top: 20px;
        margin-bottom : 20px;
        width : 100%;
        @include modification_curseur
    }

    @include taille_film($hauteurmeilleurfilm);
}


#mieuxnote{
    @include affichage_film_displaygrid;
    @include taille_film;
}


#ensemblefilm{
    .listeFilm{
        @include affichage_film_displaygrid;
        @include taille_film;
    }
}


.fleche{
    @include bouton;
    height : ($hauteurfleche);
    font-size: 40px;
}
