main{
    text-align: center;
}

#meilleurfilm{
    h2{
        font-size: 4em;
    }

    .choixFilm{
        margin-top: 20px;
        margin-bottom : 20px;
        width : 100%;
        @include modification_curseur
    }

    @include taille_film($hauteurmeilleurfilm);
}

#mieuxnote{
    @include affichage_film_displaygrid;
    @include taille_film;
}

#ensemblefilm{
    .listeFilm{
        @include affichage_film_displaygrid;
        @include taille_film;
    }
}

.fleche{
    height : ($hauteurfleche);
    width : 4em;
    font-size: 1em;
    font-weight: bold;
}
