body {   
  font-family: sans-serif;
  background: $couleurfond;
  color : $couleurecriture
}

h2{
  font-family: 'Dancing Script', cursive; 
}

h4{
  font-family: 'Dancing Script', cursive; 
  font-size : $tailletitre;
}