   h1 {
    color: gray;
  }
     
  body {
      font-family: sans-serif;
      background: white;
  }
    
  /*Mise en forme du titre*/
  .modal h1{
      margin-bottom: 10px;
      font-family: sans-serif;
      font-weight: 500;
  }
  
  /*mise en forme du paragraphe*/
  .modal p{
      /*permet d'avoir un paragraphe plus aéré*/
      line-height: 1.4;
      margin-bottom: 5px;
  }
  

  